# Tanzanian Water Wells Status Prediction

By Melody Bass

![

## Introduction

The focus of this project is to build a classification model to predict the status of water wells in Tanzania.  The model was built from a dataset of the sources of water and status of the waterpoint using an iterative approach and can be found [here](./data/training_set_values.csv).  The dataset contains information on 54,000 waterpoints in Tanzania.  Following is a description of the features that we will include in our model:
* `amount_tsh` - Total static head (amount water available to waterpoint)
* `date_recorded` - The date the row was entered
* `funder` - Who funded the well
* `gps_height` - Altitude of the well
* `installer` - Organization that installed the well
* `longitude` - GPS coordinate
* `latitude` - GPS coordinate
* `wpt_name` - Name of the waterpoint if there is one
* `num_private` -
* `basin` - Geographic water basin
* `subvillage` - Geographic location
* `region` - Geographic location
* `region_code` - Geographic location (coded)
* `district_code` - Geographic location (coded)
* `lga` - Geographic location
* `ward` - Geographic location
* `population` - Population around the well
* `public_meeting` - True/False
* `recorded_by` - Group entering this row of data
* `scheme_management` - Who operates the waterpoint
* `scheme_name` - Who operates the waterpoint
* `permit` - If the waterpoint is permitted
* `construction_year` - Year the waterpoint was constructed
* `extraction_type` - The kind of extraction the waterpoint uses
* `extraction_type_group` - The kind of extraction the waterpoint uses
* `extraction_type_class` - The kind of extraction the waterpoint uses
* `management` - How the waterpoint is managed
* `management_group` - How the waterpoint is managed
* `payment` - What the water costs
* `payment_type` - What the water costs
* `water_quality` - The quality of the water
* `quality_group` - The quality of the water
* `quantity` - The quantity of water
* `quantity_group` - The quantity of water
* `source` - The source of the water
* `source_type` - The source of the water
* `source_class` - The source of the water
* `waterpoint_type` - The kind of waterpoint
* `waterpoint_type_group` - The kind of waterpoint

The first sections focus on investigating, cleaning, wrangling, and engineering some new features.  The next section contains models and evaluation of each, ultimately leading to us to select our best model for predicting waterpoint status.  Finally, I will make recommendations and provide insight on predicting the status of waterpoints making predictions from historical data.

## Business Problem

## Data Understanding

The dataset used for this analysis can be found [here](./data/training_set_values.csv).  It contains a wealth of information about waterpoints in Tanzania and the status of their operation.  The target variable has 3 different options for it's status:
* `functional` - the waterpoint is operational and there are no repairs needed
* `functional needs repair` - the waterpoint is operational, but needs repairs
* `non functional` - the waterpoint is not operational

Below I will import the dataset and start my investigation of relevant information it may contain.  Let's get started!

In [41]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.pipeline import Pipeline

# Classification Models
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import xgboost as xgb

from sklearn.metrics import plot_confusion_matrix, classification_report,accuracy_score, f1_score, precision_score, recall_score

# Scalers
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Categorical Create Dummies
from sklearn.preprocessing import OneHotEncoder

In [ ]:
# Data Import Train Set
df_train_set = pd.read_csv('data/training_set_values.csv', index_col='id')
df_train_set

In [ ]:
# Data import Training set labels
df_train_labels = pd.read_csv('data/training_set_labels.csv', index_col='id')
df_train_labels

In [ ]:
#Merge datasets
df = pd.merge(df_train_labels, df_train_set, how = 'inner', on='id')

In [ ]:
#Reset index
df.reset_index(inplace=True)
df.head()

In [ ]:
# Check datatypes
df.info()

In [ ]:
df.describe()

In [ ]:
sum(df.duplicated())

In [ ]:
for col in df.columns:
    print(df[col].value_counts())

In [ ]:
# Check null values
df.isna().sum()

In [ ]:
# Check unique values for categorical data
obj_df = df.select_dtypes(include=['object'])
obj_df.nunique()

### Initial Observations

#### Missing Values

__scheme_name__ has the most missing values, followed by __funder__, __installer__,  __public_meeting__, __scheme_management__,  and __permit__ with ~3,000 null values, and then __subvillage__ with 371 null values.  Several of these columns will be deleted as they appear to duplicate other columns, and I will investigate __installer__, __permit__, and __subvillage__ further.

#### Data types

* __wpt_name__, __subvillage__, __ward__, __scheme_name__, __installer__, __funder__, and __date_recorded__ are categorical features that have unique values in the thousands.  This will be a problem with dummy variables, will likely remove. 
* I will drop __recorded_by__ as it has the same value for all rows.
* __num_private__ is not defined on the DrivenData site, and it is not obvious what the feature indicates. 
* __id__ column will be dropped.
* __public_meeting__ and __permit__ are boolean.
* __construction_year__, __latitude__, __longitude__, __gps_height, __amount_tsh__, and __population__ all have thousands of rows of 0 entered.  I will drop rows for most of these variables that have 0 entered, and will have to investigate further for real data on some columns.  
 
#### Duplicate  and Similar Data
 
The following columns all contain duplicate or similar data, will remove features that will cause multicollinearity:
* __extraction_type__, __extraction_type_group__, and __extraction_type_class__
* __payment__ and __payment_type__
* __water_quality__ and __quality_group__ 
* __quanitity__ and __quantity_group__
* __source__ and __source_type__
* __waterpoint_type__ and __waterpoint_type_group__
* __region__ and __region_code__

## Data Cleaning

In this section, I will clean the dataset by removing similar and unnecessary columns and trim the dataset of remaining null values.  I will also further investigate whether some columns contain the same information if it was not immediately obvious.  There are several rows containing 0 enteries in some column information.  I will investigate whether I believe the data to be real instead of a placeholder.

### Drop duplicate and columns with similar information

I will keep __extraction_type_class__ and remove __extraction_type__ and __extraction_type_group__ as it's columns values appear to be the most relevant for the project. __scheme_name__ will be dropped for it's many null values.  Other columns will be removed at this point due to irrelavancy, duplicates, null values, and some others will have to be investigated after the first drop.

In [ ]:
# Columns to be dropped
dropped_columns = ['extraction_type', 'extraction_type_group', 'payment', 'scheme_name', 'quality_group',
                   'quantity_group', 'source', 'waterpoint_type_group', 'recorded_by', 'num_private', 'id', 'subvillage',
                  'wpt_name', 'ward', 'funder', 'date_recorded', 'public_meeting', 'region_code', 'district_code', 'lga',
                  'scheme_management', 'source_class']

In [ ]:
df = df.drop(dropped_columns, axis=1)

In [ ]:
df.info()

### Dealing with null values

In [ ]:
#Check for nulls
df.isna().sum()

In [ ]:
# Drop all remaining null values from our dataset
df = df.dropna()

In [ ]:
#Check to see that it worked
df.isna().sum()

In [ ]:
# Convert boolean permit to integers
df['permit'] = df['permit'].astype(int)

In [ ]:
df.info()

### Change status_group  to integer format

In [ ]:
# Change status_group/target values to numeric values
df['status'] = df.status_group.map({"non functional":0, "functional needs repair":1, "functional":2})
df.head()

In [ ]:
df = df.drop('status_group', axis=1)

### Investigate management and management_group

I need to investigate these 2 columns further to see if they contain similar information.

In [ ]:
df['management'].value_counts()

In [ ]:
df['management_group'].value_counts()

The most data is contained in the user-group subcategory of __management_group__.  I will groupby to investigate if the information is similar.

In [ ]:
df.loc[df['management_group']=='user-group']['management'].value_counts()

The data is identical to the data contained in the management column in the subcategory of 'user-group'.  I will drop __management_group__ from our features.

In [ ]:
#Drop column
df = df.drop('management_group', axis=1)

In [ ]:
#Check to see that it worked
df.info()

In [ ]:
for col in df.columns:
    print(df[col].value_counts())

After our first round of cleaning, there are several features we need to examine further:
* __status_group__ is an unbalanced target, may need to look into further during modeling.
* There are several columns with thousands of 0 entries - __amount_tsh__, __gps_height__, __longitude__, __latitude__, __population__, __construction_year__.

### Construction year

In [ ]:
df['construction_year'].value_counts()

In [ ]:
# Finding mean and median without zero values
df.loc[df['construction_year']!=0].describe()

In [ ]:
#Replace 0 values in construction_year with mean of data without 0s.
df['construction_year'].replace(to_replace = 0, value = 1996, inplace=True)

In [ ]:
#Check to see if it worked
df['construction_year'].value_counts()

### Latitude/Longitude zeros

In [ ]:
df.longitude.value_counts()

In [ ]:
# Investigate longitude entries that are 0
df.loc[df['longitude'] == 0]

The 0s that are entered into the longitude column are also 0s in gps_height and -2e8 for latitude columns.  I will drop these values from the dataset.

In [ ]:
# Drop rows with 0 entered in longitude column
df = df.loc[df['longitude'] != 0]

In [ ]:
# Check to see if it worked
df.describe()

In [ ]:
df.info()

Looks like it all worked!  I believe the __amount_tsh__ and __population__ 0 values are real so I will leave all data as is for vanilla models.

### Installer - Several different spellings for same installer

In [ ]:
#Check unique values after inital cleaning
df.nunique()

Upon checking the unique values for our categorical variables after trimming the dataset, installer still has 2024 unique entries, which will be a problem when we create dummies.  We will need to cut down the amount of unique entries to not overload our model.

In [ ]:
#Investigate 2024 unique values for installer
pd.set_option("display.max_rows", None)
df['installer'].value_counts()

There are several entries with typos and different variations of the same installer. I will attempt to fix some of the clerical errors and narrow down the amount of unique identifiers we will use for our model.

In [ ]:
# Correct variations and misspellings in the installer column
df['installer'] = df['installer'].replace(to_replace = ('Central government', 'Tanzania Government',
                                          'Cental Government','Tanzania government','Cebtral Government', 
                                          'Centra Government', 'central government', 'CENTRAL GOVERNMENT', 
                                          'TANZANIA GOVERNMENT','Central govt', 'Centr', 'Centra govt', 
                                          'Tanzanian Government', 'Tanzania'), value = 'Central Government')

df['installer'] = df['installer'].replace(to_replace = ('District COUNCIL', 'DISTRICT COUNCIL',
                                          'Counc','District council','District Counci', 
                                          'Council', 'COUN', 'Distri', 'District  Council'), 
                                          value = 'District Council')

df['installer'] = df['installer'].replace(to_replace = ('villigers', 'villager', 'villagers', 'Villa', 'Village',
                                          'Villi', 'Village Council', 'Village Counil', 'Villages', 'Vill', 
                                          'Village community', 'Villaers', 'Village Community', 'Villag',
                                          'Villege Council', 'Village council', 'Village Council', 'Villagerd', 
                                          'Villager', 'Village Technician', 'Village Office', 'VILLAGE COUNCIL',
                                          'Village community members', 'VILLAG', 'Village Government', 
                                          'Village govt', 'VILLAGERS', 'Village  Council'), value ='Villagers')

df['installer'] = df['installer'].replace(to_replace = ('District Water Department', 'District water depar',
                                          'Distric Water Department'), value ='District water department')

df['installer'] = df['installer'].replace(to_replace = ('FinW', 'Fini water', 'FINI WATER', 'FIN WATER',
                                          'Finwater', 'FINN WATER', 'FinW', 'FW', 'FinWater', 'FiNI WATER'), 
                                          value ='Fini Water')

df['installer'] = df['installer'].replace(to_replace = ('RC CHURCH', 'RC Churc', 'RC', 'RC Ch', 'RC C', 'RC CH',
                                          'RC church', 'RC CATHORIC', 'Ch') , value ='RC Church')

df['installer'] = df['installer'].replace(to_replace = ('world vision', 'World Division', 'World vision', 
                                          'WORLD VISION', 'World Vission'), value ='World Vision')

df['installer'] = df['installer'].replace(to_replace = ('Unisef','Unicef'), value ='UNICEF')

df['installer'] = df['installer'].replace(to_replace = 'DANID', value ='DANIDA')

df['installer'] = df['installer'].replace(to_replace =('Commu', 'Communit', 'commu', 'COMMU', 'COMMUNITY', 
                                          'Adra /Community', 'Communit', 'Adra/Community', 'Adra/ Community'), 
                                          value ='Community')

df['installer'] = df['installer'].replace(to_replace = ('GOVERNMENT', 'GOVER', 'GOVERNME', 'GOVERM', 'GOVERN',
                                          'Gover', 'Gove', 'Governme', 'Governmen'), value ='Government')

df['installer'] = df['installer'].replace(to_replace = ('Hesawa', 'hesawa'), value ='HESAWA')

df['installer'] = df['installer'].replace(to_replace = ('JAICA', 'JICA', 'Jica', 'Jeica', 'JAICA CO'), 
                                          value ='Jaica')

df['installer'] = df['installer'].replace(to_replace = ('KKKT _ Konde and DWE', 'KKT', 'KKKT Church', 'KkKT'), 
                                          value ='KKKT')

df['installer'] = df['installer'].replace(to_replace = '0', value ='Unknown')

In [ ]:
df['installer'].value_counts().head(50)

In [ ]:
# Keep installers that have done over 150 waterpoints
clean_df = df.loc[(df['installer'] == 'DWE') | (df['installer'] == 'Government') | (df['installer'] == 'Community') 
                  | (df['installer'] == 'DANIDA') | (df['installer'] == 'RWE') | (df['installer'] == 'District Council') 
                  | (df['installer'] == 'Central Government') | (df['installer'] == 'KKKT') 
                  | (df['installer'] == 'Fini Water') | (df['installer'] == 'Unknown') | (df['installer'] == 'TCRS') 
                  | (df['installer'] == 'World Vision') | (df['installer'] == 'CES') | (df['installer'] == 'RC Church') 
                  | (df['installer'] == 'Villagers') | (df['installer'] == 'LGA') | (df['installer'] == 'WEDECO') 
                  | (df['installer'] == 'TASAF') | (df['installer'] == 'Jaica') | (df['installer'] == 'UNICEF') 
                  | (df['installer'] == 'TWESA') | (df['installer'] == 'AMREF') | (df['installer'] == 'WU') 
                  | (df['installer'] == 'Dmdd') | (df['installer'] == 'ACRA') | (df['installer'] == 'SEMA') 
                  | (df['installer'] == 'DW') | (df['installer'] == 'OXFAM') | (df['installer'] == 'Da') 
                  | (df['installer'] == 'Idara ya maji') | (df['installer'] == 'Sengerema Water Department') 
                  | (df['installer'] == 'Kiliwater') | (df['installer'] == 'District water department') 
                  | (df['installer'] == 'NORAD') | (df['installer'] == 'DH') | (df['installer'] == 'DWSP') 
                  | (df['installer'] == 'Lawatefuka water sup') | (df['installer'] == 'Magadini-Makiwaru wa') 
                  | (df['installer'] == 'MWE') | (df['installer'] == 'Handeni Trunk Main(') 
                  | (df['installer'] == 'Is') | (df['installer'] == 'Norad') | (df['installer'] == 'HESAWA')]

In [40]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39236 entries, 2 to 59395
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   status_group           39236 non-null  object
 1   amount_tsh             39236 non-null  float64
 2   gps_height             39236 non-null  int64
 3   installer              39236 non-null  object
 4   longitude              39236 non-null  float64
 5   latitude               39236 non-null  float64
 6   basin                  39236 non-null  object
 7   region                 39236 non-null  object
 8   population             39236 non-null  int64
 9   permit                 39236 non-null  int64
 10  construction_year      39236 non-null  int64
 11  extraction_type_class  39236 non-null  object
 12  management             39236 non-null  object
 13  payment_type           39236 non-null  object
 14  water_quality          39236 non-null  object
 15  quantity               39236 non-null  object
 16  source_type            39236 non-null  object
 17  waterpoint_type        39236 non-null  object
dtypes: float64(3), int64(4), object(11)
memory usage: 5.7+ MB

## Modified Features Exploration

### Distribution of Data

### Categorical column boxplots

## Modeling

## Conclusions

Multiple linear regression analysis was used to build a model to predict housing prices in King County, WA. After 4 iterations from our baseline model, the results of the final regression model (Model D) indicated that 83 predictors explained 85.2% of the variance in the dataset(R2= 0.852). The RMSE of the final model was $108,603.30, which is the error in our price prediction. Difference between train and test set metrics showed that our model was not overfitted or underfitted.  All of the independent variables used in the model were significant predictors of sale price with p-values less than 0.05.

Following are features that have the most positive effect on sale price:

* For every 1 square foot of living space, the price is increased by 0.03%.
* Location is 2nd highest indicator of price. Our top 10 zipcodes (98039, 98004, 98112, 98109, 98119, 98102, 98105, 98040, 98199, 98107) were 142 to 281% higher in price than our baseline zipcode of 98001.

Following are features that have the most negative impact on sale price:
* Homes with a basement decreases the price by 6.11%.
* Homes with 3 floors decreases the price by 7.49%.  More floors is less desirable.

Following are some other notable conclusions:

* Price for homes with a waterfront are 64.5% higher than homes without a waterfront.
* Homes that have been renovated in the last 30 years will increase the price by 8.40%.
* Homes with a view rated as 4 (highest rating- i.e. Mt. Rainier, Olympics, Cascades, Territorial, Seattle Skyline, Puget Sound, etc) increase the price by 45.59%.

Future work to improve on this model would be to make multiple models in different price ranges (i.e. 100k - 500k, 500k - 1 million, etc). Our model has limitations due to the wide range of prices in the dataset such as an error of $108,000 in predicting the price.  Another interesting extension to this project for future work is adding school districts grade into the model.